<div class="row">
  <div id="histories" class="span10 offset1">
    <% @page.parts.each_with_index do |part, i| %>
      <% if i.even? %>
        <div class="row">
          <div class="span6">
            <%= simple_format part.body %>
          </div>
          <div class="span4">
            <p></p>
            <%= image_tag(@page.images[i].url) %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="span4">
            <p></p>
            <%= image_tag(@page.images[i].url) %>
          </div>
          <div class="span6">
            <%= simple_format part.body %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>