<div class="row navbar">
  <div class="span11 push-right">
    <h1 class="site-heading2">Chicago</h1>
    <h1 class="site-heading3">Cuba</h1>
    <h1 class="site-heading4">Project</h1>
    <%= render(:partial => "/refinery/menu", :locals => {
                 :dom_id => 'menu',
                 :css => 'menu'
               }) %>
  </div>
</div>
