@import 'variables';

.content-container {
  h3 {
    margin-top: 0;
    line-height: 24px;
  }
}

.image-container {
  padding: 10px;
  background-color: white;
}
.histories-heading {
    background-color: #cbb29c;
    color: $grayDark;
    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    h4 {
      margin-bottom: 0;
    }
  }


#histories-links {
  height: 400px;
  background-color: $white;
  margin-bottom: 20px;
  .content-container {
    //padding-bottom: 0;
  }
  #link-box {
    height: 336px;
  }

  ul {
    padding-top: 20px;
    li {
      list-style-type: none;
      margin-bottom: 2px;
      a {
        color: $gray;
        font-size: 18px;
        text-decoration: none;
        &:hover {
          color: $navbarLinkBackgroundHover
        }
      }
    }
  }
}


#histories {

  .history {
    background-color: white;
    margin-bottom: 20px;
  }

  .anchor {
    margin: 0px;
  }

  a {

  }

  .clips {
    margin-left: 0;
    li {
      list-style-type: none;
      a {
        border-left: 2px solid grayDark;
        color: $grayDark;
        font-size: 16px;
        text-decoration: none;
        &:hover {
          color: $navbarLinkBackgroundHover;
        }
      }
    }

  }
}

#map {
  height: 400px;
  img{max-width: inherit;}

  .popup {
    a {
      margin-left: 10px;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
    h5 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
    div {
      width: 150px;
      float: left;
    }
    img {
      width: 120px;
      margin-right: 10px;
    }
  }
}