@import 'variables';

.interview-text {
 background-color: white;
 margin-top: -10px;
 margin-bottom: 20px;
}

.top-space {
  margin-top: 60px;
}

#first-history {
  h3 {
    margin-bottom: 5px;
  }
  .history {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

#map-home {
  height: 300px;
  img{max-width: inherit;}

  .popup {
    h4 {
      margin-top: 0;
      margin-bottom: 10px;
    }
    h5 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: 0;
    }
    div {
      margin-top: 10px;
      width: 200px;
      float: left;
    }
    img {
      width: 120px;
      margin-right: 10px;
    }
  }
}