@import 'variables';
@import 'bootstrap/mixins';

.navbar {
  margin-bottom: 0;
  .nav {
    margin: 0;
  }

  .navbar-inner {
      background-color: $grayLighter;
      background-image: none;
      border: none;
      border-radius: 0;
      min-height: 36px;
      padding-left: 0;
      padding-right: 0;
    #menu {
      li {
        border-left: 2px solid $navbarLinkBackgroundHover;
        min-height: 36px;
        width: 162px;
        a {
          text-align: center;
        }
      }
      li:first-child {
        border: 0;
        width: 40px;
        background-image: url('house.png');
        a {
          min-height: 20px;
          &:hover {
            background-image: url('house.png');
          }
        }
        background-color: $navbarLinkBackgroundHover;
      }

      li:last {
        border-right: 2px solid $navbarLinkBackgroundHover;
      }
    }
  }

  .navbar .nav > li > ul.dropdown-menu {
    &:before,
    &:after {
      border: 0;
    }
    margin: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 0;
    box-shadow: none;

  }

  .navbar .nav > li > a {
    padding: 10px 15px 6px;
    text-shadow: none;

  }

}

#menu .nav li.selected {
  background-color: $navbarLinkBackgroundHover;
  a {
    color: white;
  }
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  @include gradient-vertical($gapiBlueDark, $gapiBlueDark);
}
